@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
/*font-family: 'Source Serif Pro', serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Fredoka One', cursive;*/
/*font-family: 'Satisfy', cursive;*/
/*font-family: 'Sacramento', cursive;*/
body{
	font-family: 'Raleway', sans-serif;
	background: radial-gradient(circle, rgba(198,208,246,1) 27%, rgba(154,154,170,1) 100%);
  animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;
}
@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.font-personal-1{
	font-family: 'Sacramento', cursive;
  font-size: 31px!important;
}
.font-personal-2{
	font-family: 'Source Serif Pro', serif;
}
.font-personal-3{
	font-family: 'Fredoka One', cursive;
}
.font-personal-4{
	font-family: 'Satisfy', cursive;
}
.bg-cover{
	height: 100vh!important;
	background-image: url('../assets/fondo_1.jpg')!important;
	background-position: center!important;
	background-attachment: fixed!important;
	background-size: cover;
}
.bg-cover span, .bg-cover-contacto span, .bg-cover-quienes-somos span{
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
}
.bg-cover-expresate{
  height: 100vh!important;
  background-image: url('../assets/fondo_pinceles.jpg')!important;
  background-position: center!important;
  background-attachment: fixed!important;
  background-size: cover;
}
.bg-cover-contacto{
  height: 100vh!important;
  background-image: url('../assets/contacto_1.jpg')!important;
  background-position: center!important;
  background-attachment: fixed!important;
  background-size: cover;
}
.bg-cover-quienes-somos{
  height: 100vh!important;
  background-image: url('../assets/fantasy.jpg')!important;
  background-position: center!important;
  background-attachment: fixed!important;
  background-size: cover;
}
.z-index-cover{
  z-index: 2!important;
}
.animacion-nav{
  transition: all 0.7s;
}
.animacion-nav:hover{
  transform: translateY(5px) scale(1.);
}

.animacion-1{
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.animacion-1:hover {
  background-color: #123948;
  box-shadow: 0px -8px 20px 0px #ed637d;
  color: #fff;
  transform: translateY(3px) scale(1.03);
}

.animacion-1:active {
  transform: translateY(-1px);
}
.animacion-2{
  transition: all 0.5s;
}
.animacion-2:hover{
  transform: scale(1.03);
}
.animacion-3{

}
.animacion-3:hover{
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.animacion-texto{
  animation: text-focus-in 1.3s linear both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.animacion-card {
  width: 18rem;
  background-image: linear-gradient(0deg, rgba(215,44,96,1) 0%, rgba(101,99,237,1) 46%, rgba(102,101,233,1) 61%, rgba(157,221,50,1) 100%);
  transition: all .3s;
}

.animacion-card2 {
  width: 18rem;
  background-color: #1a1a1a;
  transition: all .2s;
}

.animacion-card2:hover {
  transform: scale(0.98);
}

.animacion-card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.shadow-text{
	text-shadow: -5px 3px 10px #7f1936;
}
#icon{
	width: 30px;
}
.shadow-box{
	box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 70%);
}
.fondo-texto{
  background-color: rgba(0, 0, 0, 0.6);
}
.bg-fondo-obras{
	background: linear-gradient(45deg, rgba(91,33,57,1) 20%, rgba(99,26,47,1) 49%, rgba(99,1,99,1) 86%, rgba(50,2,84,1) 94%);
}
.bg-fondo-obras-2{
	background: linear-gradient(240deg, rgba(91,33,57,1) 20%, rgba(99,26,47,1) 49%, rgba(99,1,99,1) 86%, rgba(50,2,84,1) 94%);
}
.bg-pinceles{
  background-image: url('../assets/fondo_pinceles.jpg');
  background-size: cover;
  background-position: center;
}
.bg-jumbotron{
  background-color: #c3bcbf;
}
.bg-jumbotron-box{
  background: radial-gradient(circle, rgba(30,40,78,1) 27%, rgba(17,16,50,1) 100%);
}
.bg-expresate-1{
  background-image: url('../assets/expresate_1.jpg');
  background-size: cover;
  background-position: center;
}
.bg-expresate-2{
  background-image: url('../assets/expresate_2.jpg');
  background-size: cover;
  background-position: center;
}
.bg-expresate-3{
  background-image: url('../assets/expresate_3.jpg');
  background-size: cover;
  background-position: center;
}
.bg-form{
  background: radial-gradient(circle, rgba(36,41,66,1) 7%, rgba(5,88,125,1) 92%, rgba(9,119,145,1) 100%);
}
.btn-fondo-2{
	color: #ffffff!important;
  border-color: #ffffff!important;
  border: 2px solid!important;
  border-radius: 25px;
}
.btn-fondo-2:hover{
	color: #fff!important;
  background-color: #123948!important;
  border-color: #123948!important;
}
/* From uiverse.io */
.boton button {
   position: relative;
   display: inline-block;
   cursor: pointer;
   outline: none;
   border: 0;
   vertical-align: middle;
   text-decoration: none;
   background: transparent;
   padding: 0;
   font-size: inherit;
   font-family: inherit;
}

.boton button.learn-more {
   width: 12rem;
   height: auto;
}

.boton button.learn-more .circle {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: relative;
   display: block;
   margin: 0;
   width: 3rem;
   height: 3rem;
   background-color: #123948;
   border-radius: 1.625rem;
}

.boton button.learn-more .circle .icon {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background: #fff;
}

.boton button.learn-more .circle .icon.arrow {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   left: 0.625rem;
   width: 1.125rem;
   height: 0.125rem;
   background: none;
}

.boton button.learn-more .circle .icon.arrow::before {
   position: absolute;
   content: "";
   top: -0.29rem;
   right: 0.0625rem;
   width: 0.625rem;
   height: 0.625rem;
   border-top: 0.125rem solid #fff;
   border-right: 0.125rem solid #fff;
   transform: rotate(45deg);
}

.boton button.learn-more .button-text {
   transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 0.75rem 0;
   margin: 0 0 0 1.85rem;
   color: white;
   font-weight: 700;
   line-height: 1.6;
   text-align: center;
   text-transform: uppercase;
}

.boton button:hover .circle {
  width: 100%;
}

.boton button:hover .circle .icon.arrow {
   background: #fff;
   transform: translate(1rem, 0);
}

.boton button:hover .button-text {
  color: #fff;
}

/* From uiverse.io */
.boton2 button {
  padding: 1em 2em;
  margin: 1em 0em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.boton2 button:hover {
  background-color: #00c2c3;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.boton2 button:active {
  transform: translateY(-1px);
}

/* From uiverse.io by @alexruix */
.animacion-input-2 {
   line-height: 28px;
   border: 2px solid transparent;
   border-bottom-color: #fff;
   padding: .2rem 0;
   outline: none;
   background-color: transparent;
   color: #fff;
   transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   width: 350px;
}

.animacion-input-2:focus, input:hover, textarea:hover {
   outline: none;
   padding: .2rem 1rem;
   border-radius: 1rem;
   border-color: #fff;
}

.animacion-input-2::placeholder {
   color: #fff;
}

.animacion-input-2:focus::placeholder {
   opacity: 0;
   transition: opacity .3s;
}






